@import 'reset';
@import './variables/variables';
@import 'fonts';
@import 'functions';
@import 'components';
@import 'common';

html,
body,
#root {
	height: 100%;
	width: 100%;
	direction: rtl;
}

html,
body {
	font-size: $font-size-base;
}

input,
textarea {
	outline: 0px;
}
