
$color-white: #FFF;
$color-black: #000;
$color-gray-1: #e1e1e1;
$color-gray-2: #d7d7d7;
$color-gray-3: #888888;
$color-dark-gray: #464646;
$color-light-gray: #F2F2F2;
$color-blue: #192139;
$color-title-light-blue: #009eeb;
$color-blue-title: #009EEB;
$color-blue-dark: #283754;
$color-blue-dark-2: #0d1729;
$color-blue-dark-3: #202846;
$color-button-primary: #009EEB;
$color-button-secondary: #b5b9c2;
$color-button-warning: #DA3849;
$color-action-button: #0D5D8D;
$title-bar-background: #2b3a5d;
$color-light-blue: #009EEB;
$color-text-main: #1b2b4e;
$color-text-secondary: $color-white;
$color-background-main: $color-gray-2;
$color-background-secondary: $color-black;
$color-transparent-header: rgba(0, 0, 0, 0.5);
$color-transparent-menu: rgba(0, 0, 0, 0.8);
$color-red-nofshonit:#D00321;
$input-background-color: white;
$input-border-color:#aaa;
$registration-background-color: #F2EFEC;
$registration-navbar-color: black;
$registration-input-disabled: #ccc;
$date-input-backgroud: #ddd;
$primary-color: gray;
$secondary-color: #EAE9E7;
$byprimary-color:#FA712C;
$bysecondary-color:navy;

$by-label-color : #00173A;
$by-input-text-color: #7F7F7F;
$by-input-border-color: #9F9F9F;
/* Sizes */

$by-small-margin-bottom: 7px;
$header-height: 50px;
$route-container-height: calc(100vh - #{$header-height});
$registration-navbar-mobile-height: 40px;
$registration-navbar-desktop-height: 70px;
$registration-input-label-mobile-font-size: 13px;
$registration-input-label-desktop-font-size: 14px;
$small-margin-bottom: 10px;
$mobile-device-width: 700px;
$side-margin-for-input: 7px;
$start-margin-for-navbar: 12%;
$navbar-back-container-width: 60px;
/* Font-sizes */

$font-size-base: 14px;
$font-size-small-1: 0.8rem;
$font-size-small-2: 0.7rem;
$font-size-small-3: 0.6rem;
$font-size-small-4: 0.5rem;
$font-size-normal: $font-size-base;
$font-size-large-1: 1.1rem;
$font-size-large-2: 1.3rem;
$font-size-large-3: 1.5rem;
$font-size-xl-1: 2.0rem;
$font-size-xl-2: 2.5rem;
$font-size-xl-3: 3rem;
/* Z-index */
$z-index-0: 0;
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 100;
$z-index-5: 1000;
$z-index-god: 99999999;