// TODO: Create font-size for title
// TODO: Create font-size for subtitle
// TODO: Create font-size for regular text

// Those variables are for CSS-RESET
$font-size-base: 14px;
$color-text-main: black;
$color-button-secondary: gray;