.update-contanier {
	padding-top: 50px;
	width: 90%;
	margin: auto;
	.update-text-container {
		.update-text-large-container {
			padding-bottom: 10px;
			.update-text-large {
				font-size: 24px;
				font-weight: bold;
				@media only screen and(min-width:400px) {
					font-size: 28px;
				}
			}
		}
		.update-text-small-container {
			padding-bottom: 20px;

			.update-text-small {
				font-size: 12px;
				color: lightgrey;
				font-weight: bold;
				@media only screen and(min-width:400px) {
					font-size: 16px;
				}
			}
		}
	}
	.update-password-container {
		.input-container {
			@media only screen and(min-width:400px) {
				width: 22%;
				margin: auto;
			}
		}
	}
}