.forgot-contanier{
    width: 90%;
    margin: auto;

    .forgot-text-container{
        padding-top:100px;
        .forgot-text-large{
            font-size:22px;
            font-weight: bold;
            @media only screen and(min-width:400px){
               font-size: 28px;
               
                } 
        }
        .small-text-container{
            padding-top:10px;
            width: 70%;
            margin: auto;
            padding-bottom: 25px;
            @media only screen and(min-width:400px){
                padding-top:18px;                
                 } 
            .forgot-text-small{
                color: lightgray;
                font-weight: bold;
                
            }
        }
    }
    .forgot-input-container{
        @media only screen and(min-width:400px){
        width: 25%;
        margin: auto;
        }
    }
}