$primary-color: black;
$secondary-color: #eae9e7;
$error-color: red;
$background-color: #E5E5E5;




$custom-input-background-color: white;

$input-placeholder-color: #909090;
$inputs-background-color: white;
$input-form-color: #00173A;
$input-background-color: white;

$titles-text-color : black;

$label-color : #00173A;
$input-text-color: #7F7F7F;
$input-border-color: #9F9F9F;


$color-red-nofshonit:#D00321;
$registration-input-disabled: #ccc;
$color-orange: orange;