// Layout sizes
$small-margin-bottom: 10px;
$mobile-device-width: 400px;

// Fonts
$font-size-base: 14px;




$by-small-margin-bottom: 7px;
$header-height: 50px;
$route-container-height: calc(100vh - #{$header-height});
$registration-navbar-mobile-height: 40px;
$registration-navbar-desktop-height: 70px;
$registration-input-label-mobile-font-size: 13px;
$registration-input-label-desktop-font-size: 14px;
$small-margin-bottom: 10px;
$small-inputs-margin-bottom: 3px;
$mobile-device-width: 700px;
$side-margin-for-input: 7px;
$start-margin-for-navbar: 12%;
$navbar-back-container-width: 60px;
$inputs-height: 35px;
$inputs-min-height: 50px;


/* Sizes */
$max-mobile-width: 700px;

$by-small-margin-bottom: 7px;