.custom-text-area-container {
	margin-bottom: #{$by-small-margin-bottom};
	/* label container & label */
	.custom-input-label-container {
		font-weight: bold;
		color: #{$by-label-color};
		margin-bottom: #{$small-margin-bottom};
		text-align: right;
	}
	/* custom input text & date */
	.custom-input-text-input-container {
		border: 1px solid #{$by-input-border-color};
		background: #{$input-background-color};
		textarea {
			width: 100%;
			border: 0;
			resize: none;
			background: #{$input-background-color};
			font-size: #{$registration-input-label-mobile-font-size};
			font-weight: bold;
			color: #{$by-input-text-color};
			padding: unset;
		}
		@media only screen and (min-width:#{$mobile-device-width}) {
			textarea {
				line-height: 27px;
			}
		}
	}
}
